{% macro protocol_name_short(protocol) -%}
{%- if protocol.value == "c2s" -%}
{%- trans %}client{% endtrans -%}
{%- else -%}
{%- trans %}server{% endtrans -%}
{%- endif -%}
{%- endmacro %}

{% macro protocol_name(protocol) -%}
{%- if protocol.value == "c2s" -%}
{% trans %}client-to-server{% endtrans %}
{%- else -%}
{% trans %}server-to-server{% endtrans %}
{%- endif -%}
{%- endmacro %}

{% macro connection_phase(phase) -%}
{%- if phase == "pre-tls" -%}
{% trans %}pre-TLS{% endtrans %}
{%- else -%}
{% trans %}post-TLS{% endtrans %}
{%- endif -%}
{%- endmacro %}

{% macro badge(class_, title=None, caller=None) %}
<span class="badge {{ class_ }}"{% if title %} title="{{ title }}"{% endif %}>{{ caller() }}</span>
{% endmacro %}

{% macro tls_mode_name(tls_mode) -%}
{%- if tls_mode.value == "starttls" -%}
StartTLS
{%- else -%}
Direct
{%- endif -%}
{%- endmacro %}
